/***********************************************************************************************************************

****** Baseblog Kirby Theme ******

*** URL: http://baseblog.sashtown.de
*** Author: Sascha Lack
*** Author URI: http://sashtown.de
*** First release: May 2012
*** Current release 1.1.4: January 2014
*** Made for Kirby CMS [http://getkirby.com]

************************************************************************************************************************/



/* Reset
-------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* HTML5 Hack for Oldtimers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
    display: block;
}
ol, ul {
    list-style: none;
}



/* Structure
-------------------------------------------------------------- */

html {
    -webkit-font-smoothing: antialiased;
    height: 101%;
}
body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    padding: 0 0 50px 0;
    line-height: 1;
    font-size: 100%;
}
@media only screen and (max-width : 600px) {
    body {
        font-size: 85%;
    }
}
.site {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 750px;
}
.branding {
    padding: 30px 0;
}
.colophon {
    padding: 10px 0;
    font-size: 0.8em;
    line-height: 1.4em;
    border-top: 1px solid #999;
}
.colophon p {
    display: inline;
}



/* Links
-------------------------------------------------------------- */

a:link,
a:visited {
    color: #dd4a38;
    text-decoration: none;
}
a:hover,
a:active {
    color: #333;
}
a:focus {
    background: #ddd;
}



/* Header
-------------------------------------------------------------- */

.branding h1 {
    font-size: 2.7em;
}
.branding p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #999;
}



/* Navigation
-------------------------------------------------------------- */

.menu {
    margin: 0 0 60px 0;
    background: #444;
}
.menu li {
    float: left;
    display: inline-block;
}
.menu a {
    display: block;
    font-size: 1em;
    line-height: 1.4em;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.menu a:hover {
    background: #dd4a38;
}



/* Search
-------------------------------------------------------------- */

.search {
    float: right;
    width: 35%;
}
.search input {
    padding: 10px 0 10px 10px;
    height: 42px;
    width: 100%;
    outline: 0;
    color: #aaa;
    font-size: 1em;
    background: #444;
    border-radius: 0;
    border-left: 1px solid #666;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Open Sans', sans-serif;
}
.search input:hover {
    opacity: 0.7;
}
.search input:focus {
    cursor: text;
    background: #dd4a38;
    color: #fff;
}
@media only screen and (max-width : 500px) {
    .search {
        width: 100%;
        border-left: none;
        border-top: 1px solid #666;
    }
}



/* Articles
-------------------------------------------------------------- */

.blog {
    margin: 0 0 80px 0;
}
.post-meta {
    color: #888;
    font-size: 0.85em;
    margin: 5px 0 20px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #bbb;
}
.category {
    display: inline;
}
.category li {
    display: inline;
    margin: 0 2px 0 0;
}
.category li:after {
    content: ',';
}
.category li:last-child:after {
    content: none;
}
.content a {
    border-bottom: 1px solid #ccc;
}
.blog .post-sub {
    margin: 30px 0 0 0;
}
.blog .post-sub a {
    display: inline-block;
    margin: 0 10px 0 0;
    background: #444;
    padding: 10px;
    color: #fff;
}
.blog .post-sub a:hover {
    background: #dd4a38;
}
.read_more {
    float: right;
    margin: 10px 0 0 0;
    font-size: 0.9em;
    text-transform: uppercase;
}



/* Typo
-------------------------------------------------------------- */

strong {
    font-style: bold;
}
em {
    font-style: italic;
}
h1, h2, h3, h4 {
    font-weight: normal;
    line-height: 1.3em;
}
article p {
    font-size: 1em;
    line-height: 1.7em;
    margin: 10px 0;
}
article h1 {
    font-size: 2.5em;
    margin: 0 0 5px 0;
    color: #444;
}
article h2 {
    font-size: 1.7em;
    margin: 30px 0 0 0;
    font-weight: 600;
}
article h3 {
    font-size: 1.3em;
    margin: 20px 0 0 0;
    font-weight: 700;
}
article h4 {
    font-size: 1.1em;
    margin: 20px 0 0 0;
    font-weight: 700;
}
article .content ol,
article .content ul {
    list-style-type: square;
    margin: 10px 30px 30px 30px;
    line-height: 1.6em;
}
article .content ol {
    list-style-type: decimal;
}
article blockquote {
    margin: 30px 20px;
    padding: 5px 15px;
    font-style: italic;
    border-left: 10px solid #e5e5e5;
}
article pre {
    margin: 25px 0;
    padding: 20px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    line-height: 1.5em;
    overflow: auto;
}



/* Post formats
-------------------------------------------------------------- */

.format_link h1 {
    font-size: 2em;
}
.format_link h1 a:after {
    content: " →";
}



/* Pages
-------------------------------------------------------------- */

.page {
    padding: 0 0 30px 0;
}
.page h1 {
    padding: 0 0 5px 0;
    border-bottom: 1px solid #999;
}



/* Results of search and categories <h1>
-------------------------------------------------------------- */
.results {
    float: left;
    margin: 0 0 50px 0;
    padding: 5px 10px;
    width: 100%;
    color: #555;
    font-size: 1.5em;
    background: #eee;
}
.results mark {
    background: none;
    font-weight: 600;
}
.no_results {
    margin: 50px 0;
}




/* Pagination
-------------------------------------------------------------- */
.pagination {
    margin: 50px 0 30px 0;
}
.pagination a {
    display: inline-block;
    padding: 10px;
    color: #fff;
    background: #444;
}
.pagination a:hover {
    background: #dd4a38;
}
.pagination .next {
    float: right;
}



/* Media
-------------------------------------------------------------- */

img {
    max-width: 100%;
    height: auto;
}
iframe {
    max-width: 100%;
}



/* YouTube & Vimeo
-------------------------------------------------------------- */

.video-container {
    margin: 10px 0;
    position: relative;
    padding-bottom: 55%;
    padding-top: 15px;
    height: auto;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* Clearfix
---------------------------------------------------------------*/
.cf:before,
.cf:after {
    content: ' ';
    display: table;
}
.cf:after {
    clear: both;
}



/* Visually hidden
------------------------------------------------------------------------*/
.vh {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



/* IE
-------------------------------------------------------------- */
html.ie {
    /* Your awesome styles for the dev's nightmare. */
}
